.dashboard {
  font-family: sans-serif;
}

.dashboard .conteudo {
  padding: 8px 32px;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.title > button {
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(0, 224, 101);
  padding: 12px;
  border-radius: 8px;
}
