.header-painel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color);
  padding: 10px 20px;
  border-bottom: 2px solid var(--border-color);
  font-size: 1.6rem;
  font-family: sans-serif;
  margin: 0;
  color: var(--text-color);
}

.painel-info {
  display: flex;
  gap: 30px;
  font-weight: bold;
  color: var(--text-color);
}

.painel-info span strong {
  margin-right: 5px;
}

.painel-atualizacao {
  font-size: 1rem;
  color: #555;
}
.button-theme {
  background: none;
  margin: none;
  border: none;
  color: var(--text-color);
}
.vazio {
  display: flex;
  gap: 1rem;
}
