.container-disponiveis {
  height: 81vh;
  padding: 12px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
}

.painel-filtro {
  display: flex;
  width: 100%;
  gap: 16px;
  align-items: center;
  justify-content: space-around;
  padding: 0 0 12px 0;
}
.painel-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(95px, auto);
  gap: 12px;
  align-items: center;
  justify-items: center;
}
.input-filtro {
  height: 30px;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  padding: 2px 8px;
  max-width: 270px;
}
.painel-grid-agendados {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(240px, auto);
  gap: 12px;
  align-items: center;
  justify-items: center;
}
